input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  border-radius: 0 !important;
  box-shadow: none !important;
}
button[type=Submit] {

}

.uppercase{
  text-transform: uppercase;
}

.profile{
  margin: 15px 0;
  overflow: hidden;
}
.profile .img-circle{
  background:#eee;
  padding: 5px;
  max-width: 89px;
  min-height: 89px;
}
.profile h3,
.profile h4{
  color: #8C2875;
  font-size: 1.125em; /* 18px/16px = 1.125*/
  font-weight: 500;
  text-transform: capitalize;
}

.profile .calories{
  border-right:3px solid #8C2875;
}

.profile h4.title{
  font-weight: bold;
  font-size: 0.625em; /* 10px/16px = 0.625*/
  opacity: 0.5;
  text-transform: uppercase;
}
.profile h4.value{
  font-weight: bold;
  font-size: 0.875em; /* 14px/16px = 0.875*/
}
.profile svg{
  margin-top: 15px;
}



.scoreResults{
  list-style: none;
  padding: 0;
  margin-top: 15px;
}
.scoreResults li{
  width: 100%;
  min-height: 48px;
  color: #8C2875;
  padding-top: 5px;
}
.scoreResults li:nth-child(odd) {
  background-color: rgba(140, 40, 117, 0.05);
}
.scoreResults li:nth-child(even) {
  background-color: rgba(140, 40, 117, 0.1);
}
.scoreResults li .badge{
  margin: 6px 12px;
  padding: 10px 12px;
  background-color: rgba(140, 40, 117, 1);
  border-radius: 50%;
  position: relative;
  top: -3px;
}

div[data-css-npp5qg]{
  top: 2em;
}
@media only screen and (max-width : 480px){
  div[data-css-npp5qg]{
    max-width: 80vw;
    left: 10vw;
  }  
}

.toaster[data-css-k0o5uw]{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #8C2875;
  padding: 0 20px;
  margin: 0 auto;
}
.toaster span{
  opacity: 0.5;
  display: block;
  line-height: 48px;

}
.toaster span:hover{
  opacity: 1;
}

#bottomnav .tabs .active path,
#bottomnav .tabs .active g{
    fill-opacity: 1 !important;
}


.container{
  position: relative;
}

.overallTitle{
  position: absolute;
  z-index: 9999999;
  width: calc(100% - 30px);
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.tabs .tab{
  background-color: #8C2875 !important;
}
/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 98%;
  position: relative;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #8C2875;
  stroke-linecap: round;
  transition: stroke-dashoffset 1.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  display: none;
}
.CircularProgressbar-text {
  color: #8C2875;
  font-size: 20px;
  display: block;
  text-align:center;
  margin-top: 10px;
}

.CircularProgressdata .sepa{
  border-right:3px solid #8C2875;
  min-height: 40px;
  margin-bottom: 10px;
}

.CircularProgressdata h4.value{
  font-weight: bold;
  font-size: 0.875em; /* 14px/16px = 0.875*/
  color: #8C2875;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #8C2875
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}



@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
