input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}
:focus {
    outline: none;
}


.logoSVG {
  max-width: 80%;
  margin-top: 15px;
}

button {
  border-radius: 0 !important;
  box-shadow: none !important;
}

button[type=Submit] {

}
.default_text,
.contrast_text{
  font-weight: bold;
  font-size: 0.875em; /* 14px/16px = 0.875*/
  color: #a1197d;
}
.contrast_text{
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.uppercase{
  text-transform: uppercase;
}
.marginVertical20{
  margin: 20px auto;
}
.marginVerticalTop20{
  margin: 20px auto 0 auto;
}
.marginVerticalTop40{
  margin: 40px auto 0 auto;
}
.account{
  margin: 5px auto;
}
.account span{
  color: #a1197d;
  font-weight: bold;
  font-size: 0.625em; /* 10px/16px = 0.625*/
  text-transform: uppercase;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.account svg{
  vertical-align: middle;
  margin-top: -6px;
  max-width: 24px;
}
.account .sepa{
  border-right:3px solid #a1197d;
  min-height: 20px;
}
.account .sepa span{
  margin-left: 8px;
}

.profile{
  margin: 5px 0 10px 0;
  overflow: hidden;
}
.profile .img-circle{
  background:#eee;
  padding: 5px;
  max-width: 94px;
  min-height: 94px;
}
.editprofile{
  margin: 5px auto;
  text-align: center;
}
.editprofile .preview,
.editprofile .img-circle{
  background:#eee;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto;


}
.editprofile video{
  border-radius: 50%;
  box-shadow: 0 0 0px 5px #eee inset;
  transform: scaleX(-1);
    -webkit-transform:scaleX(-1); /* Safari and Chrome */
    -moz-transform:scaleX(-1); /* Firefox */
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.editprofile button{
  color: #fff;
  background: #a1197d;
  height: 36px;
  line-height: 36px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border:0;
}

.editprofile .img-circle{
  padding: 5px;
  overflow: hidden;
  transform: scaleX(-1);
    -webkit-transform:scaleX(-1); /* Safari and Chrome */
    -moz-transform:scaleX(-1); /* Firefox */
  margin: 0;
}
.editprofile .img-circle.resized{
  object-fit: cover;
}
.editprofile .editPlaceholder{
  margin: 5px auto;
  text-align: center;
}
.editprofile .editPen{
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -18px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-circle.mirror{
  transform: scaleX(-1);
    -webkit-transform:scaleX(-1); /* Safari and Chrome */
    -moz-transform:scaleX(-1); /* Firefox */
  object-fit: cover;
  height: 94px;
  width: 94px;
}
.profile h3,
.profile h4{
  color: #a1197d;
  font-size: 1.125em; /* 18px/16px = 1.125*/
  font-weight: 500;
  text-transform: capitalize;
}

.profile .calories{
  border-right:3px solid #a1197d;
}

.profile h4.title{
  font-weight: bold;
  font-size: 0.625em; /* 10px/16px = 0.625*/
  opacity: 0.5;
  text-transform: uppercase;
}
.profile h4.value{
  font-weight: bold;
  font-size: 0.875em; /* 14px/16px = 0.875*/
  margin-bottom: 0px;
}

.profile svg{
  margin-top: 15px;
}



.scoreResults{
  list-style: none;
  padding: 0;
}

.scoreResults li{
  width: 100%;
  min-height: 48px;
  color: #a1197d;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.scoreResultsTitle span,
.scoreResults li > span{
  flex-wrap: wrap;
  width: 20%;
}
.scoreResults li:nth-child(odd) {
  background-color: rgba(161, 25, 125, 0.05);
}
.scoreResults li:nth-child(even) {
  background-color: rgba(161, 25, 125, 0.1);
}
.scoreResultsTitle{
  margin-top: 15px;
  width: 100%;
  color: rgba(161, 25, 125, 0.5);
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.625em; /* 10px/16px = 0.625*/
  font-weight: bold;
  text-transform: uppercase;
}
.scoreResultsTitle .badge{
  margin: 6px 12px;
  width: 33px;
}
.scoreResultsTitle .nick_name{
  width: calc(60% - 57px);
  margin-left: 57px;
}
.scoreResultsTitle .stars{
  width: 25%;
}
.scoreResultsTitle .total_meters{
  width: calc(15% - 12px);
  text-align: right;
  margin-right: 12px;
}

.scoreResults li .badge{
  margin: 6px 12px;
  padding: 10px;
  background-color: rgba(161, 25, 125, 1);
  border-radius: 50%;
  position: relative;
  max-width: 33px;
  max-height: 33px;
  flex: 1;
}

.scoreResults li .nick_name{
  width: calc(60% - 57px);
  text-transform: capitalize;
}

.scoreResults li .stars{
  width: 25%;
}
.scoreResults li .total_meters{
  width: calc(15% - 12px);
  text-align: right;
  margin-right: 12px;
}



.label{
  fill: #a1197d;
}
 

div[data-css-npp5qg]{
  top: 2em;
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (max-width : 480px){
  div[data-css-npp5qg]{
    max-width: 80vw;
    left: 10vw;
  } 
  .container {
    width: 100%;
  }
  .container .fullwidth {
    padding: 0;
  }
}
.helloToast[data-css-k0o5uw]{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #a1197d;
  padding: 0 20px;
  margin: 0 auto;
}
.helloToast span{
  opacity: 0.5;
  display: block;
  line-height: 48px;
}
.helloToast span:hover{
  opacity: 1;
}

.cookieToast{
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #fff;
  padding: 0 20px;
  margin: 0 auto;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .3), 0 4px 20px 0 rgba(0, 0, 0, .4);
}
.cookieToast > div{
  margin-bottom: 20px;
}
.cookieToast h2,
.cookieToast p{
  color: #333;
}
.cookieToast button{
  color: #a1197d;
  text-transform: uppercase;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  border:none;
  background: none;
}

.tourToast{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #a1197d;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .3), 0 4px 20px 0 rgba(0, 0, 0, .4);
}
.tourToast > div.content{
  padding: 0 20px;
}
.tourToast button{
  background: #a1197d;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  border:none;
  width: 100%;
  height: 48px;
}
.tourToast .swiper-container {
  width: 270px;
}
.tourToast .swiper-wrapper{
  margin-bottom: 40px;
}
.tourToast .swiper-slide .head{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.tourToast .swiper-slide p{
  text-align: left;
  font-size: 14px;
}
.tourToast .swiper-pagination{

}
.tourToast .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: rgba(161, 25, 125, 0.3);
  opacity: 1;
}
.tourToast .swiper-pagination-bullet-active {
  opacity: 1;
  background: rgba(161, 25, 125, 1);
}


#bottomnav .tabs .active path,
#bottomnav .tabs .active g{
  fill-opacity: 1 !important;
}


.container{
  position: relative;
}

.overallTitle{
  position: absolute;
  z-index: 9998;
  width: calc(100% - 0px);
  padding: 0 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.overallLoader{
  position: absolute;
  padding-top: 45%;
  z-index: 9998;
  width: calc(100% - 0px);
}

.tabs .tab{
  background-color: #a1197d !important;
}

/* */
.tabs-wrapper {

}

ul.switchtabs-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.switchtabs-nav li {
  display: inline-block;
  color: #fff;
  background: rgba(161, 25, 125, 0.5);
  height: 24px;

  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  border:0;
  border-radius: 3px;

}
ul.switchtabs-nav li+li {
  position: relative;
  left: -3px;

}
ul.switchtabs-nav li a {
  text-decoration: none;
  color: #fff;
  line-height: 26px;
}

ul.switchtabs-nav li a:hover {

}
ul.switchtabs-nav li.active{
  background: rgba(161, 25, 125, 1);
}
ul.switchtabs-nav li.active a {

}

.switchtabs-content {

}

.switchtabs-content div.switchtab-panel {
    display: none;
    visibility: hidden;
}

.switchtabs-content div.switchtab-panel.active {
    display: block;
    visibility: visible;
}




.scan_success{
  color: #a1197d;
  font-size: 20px;
  font-weight: 500;
  display: block;
  text-align:center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.scan_success svg{
  max-width: 60%;
  margin-top: 20px;
}

.scan_succes .account-balance{
  font-size: 36px;
  display: block;
}

/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 98%;
  position: relative;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #a1197d;
  stroke-linecap: round;
  transition: stroke-dashoffset 1.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  display: none;
}
.CircularProgressbar-text {
  color: #a1197d;
  font-size: 20px;
  font-weight: 500;
  display: block;
  text-align:center;
  margin-top: 10px;
}

.wallOfFame .sepa,
.history .sepa{
  border-right:3px solid #a1197d;
  min-height: 40px;
  margin-bottom: 10px;
}

.wallOfFame .title,
.wallOfFame .subtitle,
.tourToast .title,
.tourToast .subtitle{
  color: #a1197d;
  font-size: 1.125em; /* 18px/16px = 1.125*/
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.wallOfFame .title,
.tourToast .title{
  margin-top: 5px;
  margin-bottom: 2px;
}
.wallOfFame .subtitle,
.tourToast .subtitle{
  font-size: 0.625em; /* 10px/16px = 0.625*/
  font-weight: 700;
  color: rgba(161, 25, 125, 0.5);
  margin-top: 0px;
}
.wallOfFame .content{
  font-size: 1em;
  font-weight: 500;
  color: rgba(161, 25, 125, 1);
  margin: 20px auto;
}

.CircularProgressdata h4.value{
  font-weight: bold;
  color: #a1197d;
  margin-top: 0;
  margin-bottom: 0;
  font-size:110%;
}

.CircularProgressdata .challenge_title small{
  font-weight: 300;
  font-style: italic;
  font-size: 0.5em; /* 8px/16px = 0.5*/
  font-size:50%;
  color: #a1197d;
  position: relative;
  top: -7px;
}
.CircularProgressdata .challenge_meters h4.value{
  margin-top: 0;
}
.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #a1197d
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

.progress_ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progress_ctn > div.challenge_title{
  flex: 0;
  justify-content: flex-start;
}
.progress_ctn > div.challenge_title h4{
  letter-spacing: -0.6px;
}
.progress_ctn > div.challenge_icon{
  padding-bottom: 56%; 
  height: 1px; 
  overflow: visible;
}
.progress_ctn > div.challenge_icon > svg{
  width: 49%; 
}
.progress_ctn > div.challenge_icon.spin > svg{
  animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.progress_ctn > div.challenge_first{
  width: 90%; 
  padding-top: 30%;
  padding-bottom: 55%; 
  height: 1px; 
  overflow: visible 
}
.progress_ctn > div.challenge_first h4{
  position: relative;
  z-index: 99;
}

.progress_ctn > div.challenge_icon > div.challenge_star{
  position: relative;
}
.progress_ctn > div.challenge_icon div.challenge_star div svg {
  animation-timing-function: ease-in-out;

  transform: scale(0) rotate(0deg);

transform-origin: center;

margin-right: 8px;
-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    
}
.progress_ctn > div.challenge_icon div.challenge_star div svg:last-child {
  margin-right: 0px; 
}
.progress_ctn > div.challenge_icon div.challenge_star.bounce div svg {
  animation: bounce 1s 0s both;
}
.progress_ctn > div.challenge_icon div.challenge_star.bounce div svg+svg {
  animation: bounce 1s 0.2s both;
}
.progress_ctn > div.challenge_icon div.challenge_star.bounce div svg+svg+svg {
  animation: bounce 1s 0.4s both;
}
.progress_ctn > div.challenge_icon div.challenge_star.bounce div svg+svg+svg+svg {
  animation: bounce 1s 0.6s both;
}
.progress_ctn > div.challenge_icon div.challenge_star.bounce div svg+svg+svg+svg+svg {
  animation: bounce 1s 0.8s both;
}
.progress_ctn > div.challenge_icon div.challenge_star.bounce div svg+svg+svg+svg+svg+svg {
  animation: bounce 1s 1s both;
}
.progress_ctn > div.challenge_icon div.challenge_star.bounce div svg+svg+svg+svg+svg+svg+svg {
  animation: bounce 1s 1.2s both;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@keyframes bounce {
  0% { transform: scale(0) rotate(10deg); }
  30% { transform: scale(2.8) rotate(-240deg); }
  60% { transform: scale(3.5) rotate(-150deg); }
  70% { transform: scale(2.3) rotate(-50deg); }
  90% { transform: scale(0.7) rotate(20deg); }
  100% { transform: scale(1.2) rotate(0deg); }
}

.progress_ctn > div.challenge_meters{
  position: absolute;
  bottom: 25%;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}


.Charts {
  margin: 15px auto 0 auto;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 30px 0;
  position: relative;
  z-index: 1;
}

.Charts--serie {
  height: 100%;
  margin: 0 30px 0 0;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-animation: slideUp .9s;
          animation: slideUp .9s;
  position: relative;
  background: #F5E8F1;
  /*border-bottom: 1px solid #c2c2c2;*/
}
.Charts--serie:last-child {
  margin: 0;
}
.Charts--serie.stacked {
  display: block;
}
.Charts--serie label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  font-size: 0.625em; /* 10px/16px = 0.625*/
  font-weight: bold;
  text-align: center;
  color: #A1197D;
}
.Charts--item {
  background-color: #43A19E;
  display: inline-block;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: height 1s ease-out, width 1s ease-out;
  transition: height 1s ease-out, width 1s ease-out;
  position: relative;
  text-align: center;
  border-radius: 2px 2px 0 0;
}
.Charts--item b {
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 0.625em; /* 10px/16px = 0.625*/
  top: -20px;
  color: #43A19E;
}
.Legend {
  margin-bottom: 20px;
}
.Legend--color {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  width: 16px;
  height: 16px;
}
.Legend--label {
  display: inline-block;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0 0 5px;
}
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes slideUp {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
