html {
	position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 68px; /* bottom has to be the same as footer height */
  	padding: 0;
  	font-family: 'Roboto', sans-serif;
  	font-size: 16px;
}
footer {  
    position: fixed;
    margin: 20px 0 0 0;
    padding: 0;
    left: 0;
    bottom: 0;
    height: 48px;
    width: 100%;
}
